name: Create PDF
on:
  push:
    branches:
      - master
    paths:
      - '*.md'
  workflow_dispatch:

jobs:
  lint:
    name: Create PDF
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - name: Install Japanese fonts
        run: |
          sudo apt-get update
          sudo apt-get install -y fonts-noto-cjk fonts-ipafont-gothic fonts-ipafont-mincho
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.12.0
      - name: Install dependencies
        run: yarn
      - name: Build PDF
        run: yarn generate
      - name: Commit files
        run: |
          git add README.pdf
          git config --local user.email "melty0404@gmail.com"
          git config --local user.name "kanade0404"
          git commit -m "Generate README.pdf" -a
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
