name: Textlint

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  textlint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 1
      - name: Setup Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24.14.0
      - name: Install dependencies
        run: yarn --frozen-lockfile
      - name: Run textlint
        run: yarn lint
